USE [BikeStores]
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 3/22/2020 5:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[GetCategories]
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION

		DECLARE @cCustomErrorMessage VARCHAR(4000)

		IF ((SELECT COUNT(a.CategoryID) FROM dbo.Categories AS a) = 0)
		BEGIN
			SET @cCustomErrorMessage = 'No categories exist'
			RAISERROR(@cCustomErrorMessage, 11, 1)
		END

		SELECT
			a.CategoryID
			, a.CategoryName
		FROM
			dbo.Categories AS a

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF (@@TRANCOUNT > 0 )
		BEGIN
			ROLLBACK TRANSACTION
		END

		DECLARE
			@cErrorMessage VARCHAR(4000)
			, @nErrorSeverity INT
			, @nErrorState INT

		SELECT
			@cErrorMessage = ERROR_MESSAGE()
			, @nErrorSeverity = ERROR_SEVERITY()
			, @nErrorState = ERROR_STATE()

		RAISERROR(@cErrorMessage, @nErrorSeverity, @nErrorState)
	END CATCH
END
